.logcontainer {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logwindow__forarrow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logwindow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 390px;
    font-family: "comforta";
}
.logwindow__elements {
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(3px);
    border-radius: 30px;
    color: white;
    width: 100%;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px 20px;
}
.logwindow__title {
    margin-top: 25px;
    font-size: 34.5px;
}
.logwindow__titlediv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* INPUT ПОЛЕ ВВОДА */

.logwindow__forms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    height: 166px;
    width: 100%;
    padding: 0px 13px;
    font-size: 15px;
}
.logwindow__form {
    background: rgba(217, 217, 217, 0.02);
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(1.5px);
    border-radius: 17px;
    min-width: none;
}
.logwindow__formlastchild {
    background: rgba(217, 217, 217, 0.02);
    width: 100%;
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(1.5px);
    border-radius: 17px;
    min-width: none;
}
.logwindow__formwrap {
    width: 100%;
}
.logwindow__formremove {
    margin-top: 0px;
}
.logwindow__formadd {
    margin-top: 25.5px;
}
.inpcss {
    width: 100%;
    height: 38px;
    background: transparent;
    border: none;
    font-family: "comforta";
    color: white;
    padding: 0px 10px;
    border-radius: 14px;
}

/* LOG BUTTON */

.logwindow__logbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    width: 100%;
    padding: 0px 13px;
    margin-top: 54.5px;
}
.logwindow__logbtn-margin {
    margin-top: 80px;
}
.logwindow__logbtn-text {
    color: white;
    padding: 15px 0px;
    width: 100%;
    border: 2px solid white;
    border-radius: 17px;
    font-size: 20px;
    backdrop-filter: blur(1.5px);
    background: rgba(255, 255, 255, 0.02);
    transition: .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logwindow__logbtn-text:hover {
    background-color: white;
    transition: .2s ease-in-out;
}
.logwindow__logbtn:hover .logwindow__logbtn-text {
    color: black;
    transition: .2s ease-in-out;
}


/* SOC BUTTONS */

.logwindow__socials {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logwindow__socials-google {
    display: inline-block;
    position: relative;
    transition: .2s ease-in-out;
    vertical-align: top;
    overflow: hidden;
    padding: 8px 10px 4px 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.logwindow__socials-google:hover:after {
    width: 100%;
}
.logwindow__socials-google:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    -webkit-transition: 0.3s;
    transition: 0.2s ease-in-out;
    z-index: -1;
}
.logwindow__socials-vk {
    transform: rotate(180deg);
    display: inline-block;
    position: relative;
    transition: .2s ease-in-out;
    vertical-align: top;
    overflow: hidden;
    padding: 8px 10px 4px 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 5px;
}
.logwindow__socials-vk:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    -webkit-transition: 0.3s;
    transition: 0.2s ease-in-out;
    z-index: -1;
}
.logwindow__socials-vk:hover:after {
    width: 100%;
}
.vkc {
    color: white;
    transition: .2s ease-in-out;
    transform: rotate(180deg);
}
.google {
    color: white;
    font-size: 25px;
    transition: .2s ease-in-out;
}
.socdiv:hover {
    background-color: white;
    transition: .2s ease-in-out;
}
.socdiv:hover .socico {
    color: black;
    transition: .2s ease-in-out;
}
.logwindow__leftarrow {
    backdrop-filter: blur(5px);
    display: inline-block;
    border: 1px solid white;
    position: relative;
    transition: .2s ease-in-out;
    border-radius: 30px;
    vertical-align: top;
    overflow: hidden;
    padding: 5px 5px 0px 5px;
    margin-bottom: 7px;
    transform: rotateZ(180deg);
}
.logwindow__leftarrowico {
    color: white;
    transform: rotateZ(180deg);
    padding-bottom: 2.5px;
    transition: .2s ease-in-out;
}
.logwindow__leftarrow:hover:after {
    width: 100%;
}
.logwindow__leftarrow:hover .logwindow__leftarrowico {
    color: black;
    transition: .2s ease-in-out;
}
.logwindow__leftarrow:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    -webkit-transition: 0.3s;
    transition: 0.2s ease-in-out;
    z-index: -1;
}
.logwindow__leftarrowdiv {
    width: 100%;
    padding-left: 5px;
    display: flex;
}
.logwindow__wrapper {
    width: 100%;
    padding-left: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logform-btn {
    width: 100%;
    margin: 0px 10px;
}
.logwindow__logbtn-text:hover {
    cursor: pointer;
}
.socdiv:hover {
    cursor: pointer;
}
.inp {
    padding: 5px 10px;
    font-family: "comforta";
    background: rgba(217, 217, 217, 0.02);
    width: 100%;
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(1.5px);
    border-radius: 17px;
    min-width: none;
}

.inp__error {
    position: absolute;
    padding-left: 10px;
    color: red;
    font-size: 13px;
}

.inppass__error {
    font-size: 13px;
    position: absolute;
    top: 46.5%;
    padding-left: 10px;
    color: red;
}

.signin-rightbar__list-theme {
    display: flex;
    justify-content: flex-end;
    transform: scale(1.5);
    align-items: center;
    height: 40px;
    width: 35px;
    padding-bottom: 2px;
}

.signin-background {
    width: 100%;
    height: 100vh;
    z-index: -100;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 480px) {
    .logwindow {
        width: 350px;
    }
    .logwindow__title {
        font-size: 30px;
    }
}
@media (max-width: 420px) {
    .logwindow {
        width: 320px;
    }
    .logwindow__title {
        font-size: 25px;
    }
}
@media (max-width: 400px) {
    .logwindow {
        width: 300px;
    }
    .logwindow__title {
        font-size: 23px;
    }
}
@media (max-width: 380px) {
    .logwindow {
        width: 280px;
    }
    .logwindow__title {
        font-size: 21px;
    }
}