.statachiv-container {
    width: 100%;
}

.statachiv-navbar {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

.statachiv-main {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.statachiv-slider-item {
    background: rgba(187, 187, 187, 0.2);
    border: 1px solid #FFFEFE;
    border-radius: 6px;
    width: 140px;
    height: 180px;
    margin-top: 10px;
    .statachiv-slider-item-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .statachiv-slider-item-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        img {
            height: 100px;
            width: 100px;
        }
    }
}

.statachiv-navbar-text {
    display: flex;
    align-items: center;
    margin-right: 5px;
    svg {
        margin-right: 3px;
    }
}