.logo {
    bottom: 2%;
    left: 45.5%;

    img {
        width: 26%;
        height: 20%;
    }
}

.main {

    .title {
        p {
            font-size: 100px;
            margin-bottom: 50px;
        }

        @media (max-width: 720px) {
            p {
                font-size: 60px;
            }
        }

        @media (max-width: 500px) {
            p {
                font-size: 40px;
            }
        }
    }

    .btns {
        @media (max-width: 305px) {
            flex-direction: column;
            align-items: flex-end;
        }
        a:first-child {
            margin-right: 70px;
            @media (max-width: 720px) {
                margin-right: 40px;
            }
            @media (max-width: 500px) {
                margin-right: 20px;
            }
            @media (max-width: 305px) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        a {
            @media (max-width: 720px) {
                font-size: 20px;
            }
            @media (max-width: 500px) {
                font-size: 17.5px;
            }

            font-size: 30px;
            color: #55ff9c;
            border: 2px solid #55ff9c;
            padding: 3px 35px;
            border-radius: 15px;
            transition: .2s ease-in-out;
        }

        a:hover {
            background-color: #55ff9c;
            border: 2px solid black;
            color: black;
        }
    }
}